        .cart-item-img {
            width: 80px;
            height: 80px;
            object-fit: cover;
        }

        .table > :not(caption) > * > * {
            vertical-align: middle;
        }